<div class="brand-list">
  <div class="item">
    <img src="assets/images/brands/xiaomi.png" alt="xiaomi logo" />
  </div>
  <div class="item">
    <img src="assets/images/brands/lenovo.png" alt="lenovo logo" />
  </div>
  <div class="item">
    <img src="assets/images/brands/apple.png" alt="apple logo" />
  </div>
  <div class="item">
    <img src="assets/images/brands/nokia.png" alt="nokia logo" />
  </div>
  <div class="item">
    <img src="assets/images/brands/motorola.png" alt="motorola logo" />
  </div>
  <div class="item">
    <img src="assets/images/brands/dell.png" alt="dell logo" />
  </div>
  <div class="item">
    <img src="assets/images/brands/htc.png" alt="htc logo" />
  </div>
</div>
