.teaser-container{
  background-color: #eee;
  min-height: 300px;
  padding: 4rem 2rem;
  .teaser-body{
    text-align: center;
    margin-top: 2rem;
    font-weight: bold;
    h2{
      font-size: 36px;
      margin: 0;
    }
    h4{
      margin: 0;
      font-size: 24px;
    }
    app-button{
      margin-top: 1rem;
    }
  }
}
