<div class="phone-card">
  <div class="img-container">
    <img
      class="card-img"
      [src]="phoneImgUrl + phone.image"
      alt=""
      height="180"
      width="100"
    />
  </div>

  <div class="card-body">
    <div>
      <img
        *ngFor="let item of phone.mappedRating"
        width="20"
        height="20"
        class="favorite"
        src="assets/images/rating.svg"
        alt=""
      />
    </div>
    <p>{{ phone.name }}</p>
    <p *ngIf="phone.price_reduced === null">{{ phone.price }}</p>
    <ng-container *ngIf="phone.price_reduced !== null">
      <p class="old-price">{{ phone.price }}</p>
      <p class="new-price">{{ phone.price_reduced }}</p>
    </ng-container>
  </div>
  <button class="black-button" (click)="buy()">Bestellen</button>
  <div>
    <img
      width="24"
      height="24"
      class="favorite"
      *ngIf="!phone.selected"
      (click)="selectPhone()"
      src="assets/images/favorite.svg"
      alt=""
    />
    <img
      width="24"
      height="24"
      class="favorite"
      *ngIf="phone.selected"
      (click)="selectPhone()"
      src="assets/images/favorite_filled.svg"
      alt=""
    />
  </div>
</div>
