<nav class="menu">
  <div class="menu-content">
    <div class="logo-container" [routerLink]="['/']">
      <img class="logo" src="assets/images/logo.png" />
      <p  class="link">Mobilo 24</p>
    </div>
    <div class="middle-itens">
      <p class="link">Smartphones</p>
      <p class="link">TopSeller</p>
      <p class="link">Angebote</p>
      <p class="link">Sucher</p>
    </div>
    <div class="end">
      <p
        [routerLink]="['/notepad']"
        routerLinkActive="router-link-active"
        class="link"
      >
        Merkzetell ({{ count$ | async }})
      </p>
    </div>
  </div>
</nav>
